<!-- {% block title %} Product List {% endblock %}  -->
{% block content %}
<div class="container mx-auto px-4 py-8">
  <h1 class="text-2xl font-semibold text-gray-800 mb-4">Product List</h1>
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
  {% for product in products %}
  <div class="bg-white p-4 rounded-lg shadow">
    <img
      src="{{ product.image.url }}"
      alt="{{ product.name }}"
      class="w-full h-48 object-cover rounded"
    />
    <h2 class="mt-2 text-lg font-semibold">{{ product.name }}</h2>
    <p class="text-gray-600 mb-4">${{ product.price }}</p>

    <a
      href="{% url 'product_details' product.slug %}"
      class="block text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-4 focus:ring-indigo-300 font-semibold py-2 px-4 rounded-lg w-full text-center transition-colors duration-200"
    >
      View Details
    </a>
  </div>
  {% endfor %}
</div>
</div>
{% endblock %}
